:root {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

:where(.css-dev-only-do-not-override-1pd76mu).ant-table-wrapper td.ant-table-column-sort

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: rgb(217, 232, 255);
}



.ant-table-cell{
  background-color: transparent !important;
}
